/*CSS variables section*/
:root {

    color:white;
    }

    /*Extra Large screens - Extra large desktops*/

    html {
      scroll-behavior: smooth;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

    * {
      margin: 0;
      padding: 0;
    }
    section{
        margin-top: 0px;
    }
        /*This is the Vertical Navigation bar*/
    .toggle-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 30px;
        padding: 5px;
    }

    .hamburger {
        position: relative;
        background-color: #e8e5e5;
        height: 4px;
        width: 40px;
        margin-left: 0px;
        border-radius: 2;
        transition: transform 0.3s;
    }

    #nav-toggle {
        display: none;
    }

    #nav-toggle:checked + .toggle-button .hamburger:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #nav-toggle:checked + .toggle-button .hamburger:nth-child(2) {
        opacity: 0;
    }

    #nav-toggle:checked + .toggle-button .hamburger:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .vertical-nav {
        width: 0px;
        background-color: #1ab5cd;
        color: #fbf9fc;
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        overflow-x: hidden;
        transition: width 0.3s;
    }

    .vertical-nav ul {
        list-style-type: none;
        margin: 80px 20px;
        padding: 10;
        width: 80px;
        align-items: center;

    }

    .vertical-nav sa:hover {
        background-color: #94d1db;
    }
    .vertical-nav li {
        font-size: larger;
        text-align: center;
        border:3px solid #070b0c;
        display: block;
        width: 100px;
        margin: 5px 5px;
    }

    .vertical-nav a:hover {
        background-color: #c6c7c8;
    }
/*
    .vertical-nav a {
        text-align: center;
        padding: 30px 40px 40px 15px;
        text-decoration: none;
        color: #0c0c0c;
        display: block;
    }
*/
    #nav-toggle:checked ~.vertical-nav {
        width: 200px;
    }
    /*Vertical Navagation ends here*/

    /*Style for the new navagation bar with bootstrap*/
    .navbar {
        background-color: #0b0808; /* Background color */
        overflow: hidden;
        padding-left: 108px;
    }
    /* Style for the navigation bar */
    .Navbar {
        background-color: #121111; /* Background color */
        overflow: hidden;
        padding-left: 108px;
    }

    /* Style for the links in the navigation bar*/
    .Navbar a {
        float: left; 
        display: block; 
        color: #fff; 
        text-align: center; 
        padding: 24px 16px 28px 16px;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
    }
    
    /* Change the link color on hover */
    .Navbar a:hover {
      background-color: #ddd; /* Background color on hover */
      color: #1ab5cd; /* Text color on hover */
    }

    .new-icon {
        width: 35px;
        height: 10px;
        margin-left: 6px;
        margin-bottom: 0px;
        height: 100%;
    }

    /* Style for the top bar */
    .Top-bar {
      text-align:center; /* Center-align the links within the top bar */
      /*padding: 10px 16px; Add some padding */
      margin:0px 0px 0px 0px;
    }

    /* Add some margin to the top bar for spacing */
    .Top-bar a {
      margin: 50px 0px 0px 0px;
    }

    .wel{
        background-repeat: no-repeat;
    }

    .wel-text{
        background-color: #1ab5cd;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .wel-text h3{
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 120px;

    }
    h1{
        color:white;

        text-shadow: 8px 10px 10px #000000;
        border-top:none;
        border-bottom: none;
        padding: 90px 40px;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 800;
        text-align: center;

    }
    .about{
        /*margin-top: 0px;*/
        height: 700px;
        background-image: url("../Images/Renshou-HM.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        margin-top: 0px;
    }

    .about h2{
        color:rgb(243, 239, 239);
        text-shadow: 8px 10px 10px #010101;
        border-top:none;
        border-bottom: none;
        padding: 60px 50px 50px 0px;
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 54px;
        font-weight: 800;
        text-align: left;
    }

    .about-text{
        background-color: rgb(145, 232, 253);
        padding: 28px ;
        width:300px;
        height: 400px;
        color: #000000;
    }

    .about-text h5{
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        color: #1ab5cd;
        border-bottom: 3px solid #1ab5cd;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    .about-text h6{
        text-align: left;
        color: #070808;
        padding: 15px 15px;
        font-size: large;
        border-left: #1ab5cd 14px solid;
        margin-right: 10px;
        background-color: #d0e5ec;
    }

    .about-text h6:hover{
        background-color: #1ab5cd;
        color: #ffffff;
    }

    .about-text a{
        text-decoration: none;
        color: #070606;
        font-size: large;
        padding-left: 5px;
    }

    .about-text a:hover{
        color: #40b5dc;
    }

    .about img{
        width: 30px;
        height: 30px;
        align-items: center;
        float: right;
    }

    .table-container{
        position: relative;
        height: 200px;
    }

    /*table start*/
    .about-button-title{
        background-color: #000000;
        color: white;
        text-align: center;
    }

    /*about button start here*/
    .about-button-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        height: 700px;
        background-image: url("../content/about/images/about-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #e4eaeb;
        padding: 15px;
        align-items: flex-start; /* Align buttons to the left */
    }

    .about-button ul {
      border:3px solid rgb(77, 72, 72);/*Make a border to the buttons*/
      float: left;
      flex-wrap: wrap; /* Allow buttons and content to wrap to the next line */
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .about-button li {
      width: 100%; /* Make all buttons the same width */
    }

    .about-button a {
      display: block;
      background-color: #d0dee5;
      color: #030202;
      padding: 12px 10px;
      margin-right: 0px;
      text-decoration: none;
      text-align: center;
      text-align: left; /* Float the button container to the left */
    }

    .about-button a:hover {
      background-color: #09abcf;
    }
    .about-content-container {
      text-align: center;
      width: 100%;
      background-color: #f0f0f0;
      color:#000000
    }
    .about-button{
      float: left;
    }

    .about-content {
      display: none;
      height: 500px;
    }
    .about-content p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
      text-align: justify;
      padding: 5px 10px;
    }

    .about-content img{
      position: right;
      width: 78%;
      height: 75%;
      object-fit: cover;
      overflow: hidden;
    }

    .about-content:target {
      display: block;
    }

    .about-content table{
        width: 100%;
    }

    .about-content th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        transition: background-color 0.3s;
      }

    tr:hover {
      background-color: #b3b0b0;
    }
    /*about buttons ends here*/


    /*table end here*/

    .icons{
        font-size: 20px;
        letter-spacing: 5px;

    }

    .title{
        color:white;
        width:100%;
        margin:auto;
        padding:60px 10px;
        font-size: 50px;
        font-weight: 600;
        margin-left: 10%;
        text-transform: uppercase;
        width: 80%;
    }


    h3{
        font-size: 40px;

        font-weight: 600;

    }
    .contact{
        padding-bottom: 100px;
        background-color: black;
        overflow: hidden;
    }

    .training{
        padding-bottom: 150px;
        background-color: #0a0c0f;;
        overflow: hidden;

    }

    .training-main{
        display: flex;
        flex-wrap: wrap;
        flex:1 1 ;
        width:70%;
        margin: auto;
        justify-content: space-evenly;
        margin-top: 0px;
        margin-bottom: 150px;
        transition: transform 0.44s ease; /* Add a smooth transition for scaling */
    }

    .training-main:hover{
        transform: scale(1.24); /* Add scale on hover */
    }

    .training-image{
        width:300px;
        height: 400px;
        margin-left: 40px;
    }

    .training-image a{
        text-decoration: none;
        color: #ffffff;
        font-size: large;
        padding-left: 5px;
    }

    .training-image a:hover{
        color: #1ab5cd;
    }

    .training-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .training-text{
        width: 40%;
        color: white    ;

    }

    .training-button {
        margin-right: 20%;
        float: right;
        background-color: white;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
      }

      .training-button:hover {
        background-color: lightgray; /* Change background color on hover */
      }

    .contact{

        background-color: #000000;
        padding-bottom: 150px;
    }

    .contact-image{

        width:500px;
        overflow: hidden;
    }
    .contact-image img{
        width:100%;
        height: 100%;
        object-fit: contain;
    }

    .contact-main{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .contact-form{
        background-color: #eee;
        padding:30px;
    }

    .input:focus,textarea:focus{
      outline: 1.5px solid gray;
    }

    .input,textarea {
      width: 100%;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    .input{
        padding:10px !important;
        margin: 10px 0px;
        height: 45px;
        border:1px solid ;
    }

    textarea{
        height: 70px !important;
    }

    .name{
        display: flex;
        justify-content: space-between;
    }

    .name-list
    {
        width:48%;
    }

    .contact-address{
        padding-bottom: 44px;
        margin-bottom: 0px;
        background-color: #0a0c0f;;
        overflow: hidden;
    }

    .contact-address-list{
        display: flex;
        background-color: #0a0c0f;;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;

    }

    .contact-list{
        margin: 20px 0px !important;
    }
    
    h4{
        text-transform: uppercase;
    }
    #navDemo a{
        font-size: 12px;
    }

    /*Nutrition page*/
    .nutrition-main{
        margin-top: 0px;
    }

    .nutrition-intro{
        align-items: flex;
        background-image: url("../content/nutrition/images/Essential-Guide-to-Healthy-Eating-2-1024x643.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
        background-position: center;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
    }

    .nutrition-intro-text{
        background-color: rgb(145, 232, 253);
        padding:120px 30px;
        width: 35%;
        height: 490px;
        color: #000000;
        margin: 25px 25px;
        padding: 10px 20px;
    }
    .nutrition-intro-text h3{
        text-align:start;
        color: #000000;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 44px 5px;
        padding: 10px 10px;
    }
    .nutrition-part {
        color:#000000;
        text-align: center;
    }
    .nutrition-part h3{
        border-top: 5px solid #3fd7e8;
        padding: 10px 10px;
        margin: 5px 5px;
    }

    /*nutrition button start here*/
    .nutrition-button-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        height: 700px;
        background-image: url("../content/nutrition/images/nutrition_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #e4eaeb;
        padding: 15px;
        align-items: flex-start; /* Align buttons to the left */
    }

    .nutrition-button ul {
      border:3px solid rgb(77, 72, 72);/*Make a border to the buttons*/
      float: left;
      flex-wrap: wrap; /* Allow buttons and content to wrap to the next line */
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nutrition-button li {
      width: 100%; /* Make all buttons the same width */
    }

    .nutrition-button a {
      display: block;
      background-color: #d0dee5;
      color: #030202;
      padding: 12px 10px;
      margin-right: 0px;
      text-decoration: none;
      text-align: center;
      text-align: left; /* Float the button container to the left */
    }

    .nutrition-button a:hover {
      background-color: #09abcf;
    }
    .nutrition-content-container {
      text-align: center;
      width: 100%;
      background-color: #f0f0f0;
      color:#000000
    }
    .nutrition-button{
      float: left;
    }

    .nutrition-content {
      display: none;
      height: 500px;
    }
    .nutrition-content p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
      text-align: justify;
      padding: 5px 10px;
    }

    .nutrition-content img{
      position: right;
      width: 78%;
      height: 75%;
      object-fit: cover;
      overflow: hidden;
    }

    .nutrition-content:target {
      display: block;
    }

    /*nutrition buttons ends here*/

    /*Gears page*/

    .gears-intro{
        display: grid;
        position: static;
        font-size: small;
        align-items: center;
        background-image: url("../content/gears/images/vapourfly.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        background-position: center;
    }

    .gears-intro h1{
        padding-top: 12%;
        font-size: 1024%;
    }

    .gears-article h4{
        font-size: 28px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 10px 70px;
    }

    .gears-article h6{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 30px 60px;
        text-align: justify;
        line-height: 1.8;
    }

    .gears-page{
        position: static;
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(24, 173, 218, 0), #23aeca);
        height: auto;
        color: #000000;
        background-color: #ffffff;
        opacity: 1;
    }

    .gear-gallery {
        display: grid;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 60vh; /* Adjust as needed */
        width: 100%;
    }

    .gears-image {
        height: 120%;
        margin-top: 50vh;
        margin-bottom: 40vh;
        object-fit: cover;
        overflow: hidden;
        transition: transform 0.6s ease;
    }


    .gears-image:hover {
      transform: scale(1.1);
    }

    .gears-caption{
        color: #000000;
        text-align: center;
        padding-right: 27vh;
    }

    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    video {
        height: 52vh;
        width: 55vh;
    }


    /*The gears show divison*/
    .gears-overlay {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gears-show {
        text-align: justify;
        position:relative;
        display:none;
        width: 100%;
        overflow:hidden;
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .gears-close-button {
        position: relative;
        height: 28px;
        background: red;
        color: white;
        padding: 5px 5px;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
    }

    .gears-show-button {
        margin-bottom: 20vh;
        padding: 10px 44px;
        background: #0077FF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .gears-show-button:hover {
        text-decoration: none;
    }


    /* show the gears-overlay */
    .gears-show:target {
        display: flex;
    }


    /*events page*/

    .events-container{
        display: grid;
        padding: 10px;
        font-size: small;
        align-items: center;
        background-image: url("../content/events/eventPics/elite-runners1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        background-position: center;
    }

    .events-intro {
        position: static;
        margin-top: 8vh;
        margin-bottom: 0vh;
        align-items: center;
        color: #f1f1f1;
        width: 100%;
        padding: 0px 0px;
        text-align: center;
        font-size: 20px;
    }
    .event-content p {
        line-height: 1.6;
        margin-bottom: 1em;

    }
    .events-content {
        margin-top: 38vh;
        position: absolute;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 300vh;
        background: linear-gradient(to bottom, #07c2e3, #f9fafa);
    }

    .events-topic {
        border-top: #080909 solid 3px ;
        margin-top: 0vh;
        text-align: center;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: #0077FF;
        font-size: 44px;

    }

    .events-pics{
        margin: 0px;
        display: grid;
        grid-template-columns: 10fr 10fr 10fr 10fr;
        column-gap: 4vh;
        padding: 18px;
        height: 90vh;

    }

    .events-gallery {
        flex: 1;
        border: 4px solid #080505;
        float: left;
        width: 100%;
        height: 90%;
    }

    .events-gallery img{
        width: 100%;
        height: 44%;
    }

    .events-desc h6{
        color: #000000;
        padding: 7px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 18px;
    }

    .events-desc p{
        color: #000000;
        padding: 7px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: 20px;
    }

    .events-button{
        background-color: #654caf;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        position: static;
        bottom: 100px;
        display: inline-block;
        font-size: 16px;
        margin: 4px px;
        cursor: pointer;
    }

    .events-detail{
        color: black;
        position: relative;
        width: 100%;
        height: auto;
    }

    .events-detail-col{
        margin-top: 12vh;
        display: none;
        border: #000000 5px solid;
        text-align: justify;
        font-size: 30px;
        padding: 38px;
        margin-left: 24px;
        margin-right: 24px
    }

    .events-detail-col:target{
        display: block;
    }

    .card-img-custom {
        position: static;
        width: auto;
        height: 200px; /* Adjust the height as needed */
        object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    }




    /* Add a CSS class to reveal the content when scrolling */

    /*MEDIA QUERIES*/
    /*Large screens - Desktop*/
    @media screen and (min-width: 1700px) {
        section{
            background-color: rgba(240, 240, 241, 0.9);
        }
        .wel{

            margin: auto;
            height: 900px;
        }
        .wel-text{
            height: 900px;
        }
        .training-main{
            width: 60%;
            justify-content: space-evenly;
       }
       .contact-address-list{
           margin: auto;
           width: 70%;
           align-items: flex-start;
       }
       .contact-list{
           width: 50%;
       }
    }

    /*medium screens - Laptops*/
    @media screen and (max-width: 1024px) {
        .wel{
            height: 500px;
            background-position: center;
        }
        .wel-text{
            height: 500px;
        }
        h1{
            font-size: 70px;
        }
        .training-main{
            width: 90%;
            justify-content: space-evenly;
       }
    }

    /*Small screens - tablets*/
    @media screen and (max-width: 768px) {
        .wel{
            /*background-image:url('../Images/Asiangame1.jpg');*/
            height: 600px;
            background-position: center;
        }
        .wel-text{
            height: 600px;
            text-align: center;
        }
        h1{
            font-size: 40px;
        }
        .wel-text h3{
            font-size: 30px;
        }
        .about{
            overflow: hidden;
        }
        .about-text{
            background-color: rgb(145, 232, 253);
            padding: 28px ;
            width:300px;
            height: 400px;
            color: #000000;
        }
        .card{
            width: 90%;;
        }
        .card-list{
            width: 250px;
        }
        .title{
            font-size: 36px;
        }
    }

    /*Extra small screens - phones*/
    @media screen and (max-width: 480px) {

        .Navbar {
            list-style: none;
            padding: 0;
            margin: 0;
            white-space: nowrap; /* Prevent line breaks */
            overflow-x: auto; /* Enable horizontal scrolling */
            display: flex; /* Make items align horizontally */
        }
        [class*="nav-"] {
            flex: 0 0 auto; /* Make items stay at their intrinsic width */
            padding: 10px; /* Add spacing between items */
            background-color: #0a0a0a; /* Background color for the list items */
            margin-right: 10px; /* Add margin between items */
        }
        .wel{

            background-position: center;
        }
        .wel-text{
            height: 640px;
            padding-top: 30px;
        }
        h1{
            font-size: 30px;
        }
        .about h2{
            color:rgb(243, 239, 239);
            text-shadow: 8px 10px 10px #010101;
            border-top:none;
            border-bottom: none;
            padding: 60px 70px;
            margin-left: 40px;
            text-transform: uppercase;
            font-size: 54px;
            font-weight: 800;
            text-align: left;
        }
        .about-text{
            background-color: rgb(145, 232, 253);
            padding: 8px ;
            width: 250px;
            height: 300px;
            color: #000000;
            padding: 0px 50px 0px 50px;

        }
        .about .title h2    {
            color:rgb(247, 246, 246);
            text-shadow: 8px 10px 10px #010101;
            border-top:none;
            border-bottom: none;
            padding: 10px 50px 0px 0px;
            margin-left: 20px;
            text-transform: uppercase;
            font-size: 34px;
            font-weight: 800;
            text-align: left;
        }
        .about-text h3{
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            color: #0b0b0b;
            border-bottom: 3px solid #1ab5cd;
            padding-bottom: 10px;
            margin-bottom: 0px;
        }
        .about-text h5{
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            color: #1ab5cd;
            border-bottom: 3px solid #1ab5cd;
            padding-bottom: 10px;
            margin-bottom: 0px;
        }
        .about-text h6{
            text-align: left;
            color: #070808;
            padding: 15px 15px;
            font-size: large;
            border-left: #1ab5cd 14px solid;
            margin-right: 10px;
            background-color: #d0e5ec;
        }
        .about-text h6:hover{
            background-color: #1ab5cd;
            color: #ffffff;
        }
        .about-text a{
            text-decoration: none;
            color: #070606;
            font-size: large;
            padding-left: 5px;
        }
        .about-text a:hover{
            color: #40b5dc;
        }
        .about .title{
        font-size: 30px;
        padding:30px 10px;

        }

        h3{
            font-size: 25px;
        }

        .about{
            background-image: url("../Images/Renshou-HM1.jpg");
            height: 700px;
            overflow: hidden;
            background-position-x:left ;

        }

        .card{
            width: 100%;;
        }

        .card-list{
            width: 300px;
        }

        .training-main{
            justify-content: center;
            margin-bottom: 10px;
            padding-bottom: 0px;
            transition: transform 0.44s ease; /* Add a smooth transition for scaling */
        }

            .training-main:hover{
            transform: scale(1.12); /* Add scale on hover */
        }

        .training-text{
            width: 80%;
        }

        .training-image{
            margin: 50px 3px;
            width:300px;
            padding: 5px 5px;
        }

        .training-image h6{
            text-decoration: none;
            color: #090707;
            font-size: small;
            text-align: center;

        }

        .contact-main{
        width: 90%;
        margin:auto;
        }

        .name{
            flex-direction: column;
        }

        .name-list{
            width: 100%;
        }

        .contact-form{
            width: 100%;
        }

        .contact-list{
            width:80%;
            border:1px solid rgb(77, 72, 72);
            padding:20px;
            border-radius: 10px;

        }

        .contact-list p{
            font-size: 13px;
        }


        /*Nutrition page*/

        .nutrition-intro{
            height: 300px;
            font-size: small;
            align-items: flex;
            background-image: url("../content/nutrition/images/Essential-Guide-to-Healthy-Eating-2-1024x643.png");
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            background-position: center;
            margin-top: 0px;
        }
        .nutrition-intro-text{
            height: 200px;
            width: 60%;
            align-items: center;
            margin: 20px 10px;
            padding: 20px 4px;
        }
        .nutrition-intro-text h3{
            text-align:justify;
            float: none;
            color: #000000;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 6px;
            text-transform: uppercase;
            margin: 20px 18px;
            padding: 0px 4px;
        }
        .nutrition-button-container{
            display: grid;
            grid-template-columns: 1fr 4fr;
            height: 1900px;
            background-image: url("../content/nutrition/images/nutrition_background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #e4eaeb;
            padding: 15px;
            align-items: flex-start; /* Align buttons to the left */
        }
        .nutrition-content img{
            position: right;
            width: 68%;
            height: 38%;
            object-fit: cover;
            overflow: hidden;
        }

        .gears-page{
            position: static;
            margin-left: 0vh;
            margin-right: 0vh;
            top: 120%;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(24, 173, 218, 0), #23aeca);
            height: auto;
            color: #000000;
            background-color: #ffffff;
            opacity: 1;

        }

        /*events page*/
        /*Adjust the events-detail class to enhance mobile reading
        experience*/
        .events-detail{
            color: black;
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }